#*
*$
*.BAK
*.Z
*.bak
*.class
*.elc
*.ln
*.log
*.o
*.obj
*.olb
*.old
*.orig
*.pyc
*.pyo
*.rej
*~
,*
.#*
.DS_Store
.del-*
.make.state
.nse_depinfo
.project
CVS.adm
RCS
RCSLOG
SCCS
_$*
libs/bootstrap/grunt
libs/bootstrap/js
libs/bootstrap/less
libs/bootstrap/test-infra
libs/font-awesome/less
libs/font-awesome/scss
libs/font-awesome/src
libs/jquery/src
libs/underscore.string/lib
libs/underscore.string/test